.app-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #766d6d;
}

.recipe__container {
  padding: 0 2rem;
  border-radius: 1.6rem 1.6rem 0 0;
}
.recipe__view-container {
  display: flex;
  margin-bottom: 1rem;
}
.recipe__img {
  width: 100%;
  border-radius: 1.6rem;
  height: auto;
  object-fit: cover;
}
.recipe__card-container {
  display: none;
}

.recipe__name,
.recipe__ingredients-title,
.recipe__preparation-title {
  color: #766d6d;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.recipe__ingredient,
.recipe__preparation-text {
  text-align: justify;
}
.recipe__ingredients-container {
  margin-bottom: 0.8rem;
}

.recipe__name {
  padding-top: 1rem;
}
.recipe__ingredient,
.recipe__preparation-text {
  color: #a1a1a1;
  font-family: Inter;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
  list-style-position: inside;
}
@media screen and (min-width: 600px) {
  .app-title {
    margin-bottom: 2rem;
  }
  .recipe__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 2rem;
    padding: 0 1rem;
  }
  .recipe__card-container {
    padding: 0 1rem;
  }
  .recipe__view-container {
    padding: 0.5rem;
    border-radius: 1.60819rem;
    background: #fff;
    margin-bottom: 0;
    box-shadow: 0px 4.8244948387146px 12.86531925201416px -1.60816490650177px rgba(50, 50, 71, 0.05),
      0px 0px 1.60816490650177px 0px rgba(12, 26, 75, 0.24);
  }
}

@media screen and (min-width: 995px) {
  .recipe__ingredients-list {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-flow: column;
  }

  .recipe__container {
    grid-template-columns: 50% 1fr;
  }
  .recipe__card-container {
    margin-bottom: 2rem;
  }
}
