<footer class="footer container">
  <div class="social-bar">
    <u class="social-bar__list">
      <li class="social-bar__item">
        <a href="" class="social-bar__link ">
          <img src="./assets/img/icons/Instagram.svg" alt="">
        </a>
      </li>

      <li class="social-bar__item">
        <a href="" class="social-bar__link">
          <img src="./assets/img/icons/Twitter.svg" alt="">
        </a>
      </li>

      <li class="social-bar__item">
        <a href="" class="social-bar__link">
          <img src="./assets/img/icons/Linkedin.svg" alt="">
        </a>
      </li>

      <li class="social-bar__item">
        <a href="" class="social-bar__link">
          <img src="./assets/img/icons/Facebook.svg" alt="">
        </a>
      </li>
    </u>

  </div>
</footer>